<section class="jumbotro text-center">
  <div class="image">
    <div class="top-container">
      <h1>Sake maker</h1>
      <p class="lead">日本酒を伝える、届ける</p>
      <p class="lead">魅力を探す、見つける</p>
      <p>
        <%= link_to '日本酒を探す', posts_path, class: 'btn btn-dark my-2' %>
        <%= link_to 'ランキングから探す', root_path, class: 'btn btn-secondary my-2' %>
      </p>
    </div>
  </div>
</section>

<div class="col-md-12">
  <div class="row">
    <div class="card-group">
      <% @posts.each do |post| %>
        <% results = RakutenWebService::Ichiba::Item.search({ keyword: "#{post.sake_name} 日本酒", hits: 1}) %>
        <% results.each do |result| %>
          <div class="card">
            <img class="card-img-top" src="<%= result['mediumImageUrls'][0] %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">
                <%= post.sake_name %>
                <font size=2>（<%= post.kana_name? ? post.kana_name : "ふりがな登録なし" %>）</font>
              </h5>
              <p class="card-text"><%= post.name %> <%= post.city %></p>
              <p class="card-text"><small class="text-muted"><%= link_to '♡', root_path %> <%= Post.all.count %></small></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
