<main role="main">
    <section class="jumbotron text-center">
      <div class="image">
        <div class="top-container">
          <h1 class="jumbotron-heading">Sake Maker</h1>
          <p class="lead text-muted">日本酒を伝える、届ける</p>
          <p class="lead text-muted">魅力を探す、見つける</p>
          <p>
            <%= link_to '日本酒を探す', posts_path, class: 'btn btn-dark my-2' %>
            <%= link_to 'ランキングから探す', root_path, class: 'btn btn-secondary my-2' %>
          </p>
      </div>
      </div>
    </section>
    <div class="album py-5 bg-light">
      <div class="col-md-12">
        <div class="row">
          <% @posts.each do |post| %>
            <% results = RakutenWebService::Ichiba::Item.search({ keyword: "#{post.sake_name} 日本酒", hits: 1}) %>
            <% results.each do |result| %>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="<%= result['mediumImageUrls'][0] %>">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= post.sake_name %>
                    <font size=2>（<%= post.kana_name? ? post.kana_name : "ふりがなは登録されていません" %>）</font>
                  </h5>
                  <p class="card-text"><%= post.name %> <%= post.city %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'view', post_path(post), class: 'btn btn-sm btn-outline-secondary top-view' %>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted"><%= post.company %></small>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</main>
