<div class="search-results">
  <% if @keyword == "" %>
    <p>ひらがな、または漢字で入力してください</p>
    <p>都道府県を選んでください</p>
  <% elsif @keyword_results %>
    <p>
      <strong>" <%= @keyword %> "</strong> の検索結果：
      <strong><%= @keyword_results.count %>件</strong>見つかりました
    </p>
    <% @keyword_results.each do |keyword_result| %>
      <div class="search-result">
        <h5>
          <%= link_to keyword_result.sake_name, post_path(keyword_result) %>
          <font size=2>（<%= keyword_result.kana_name? ? keyword_result.kana_name : "ふりがなは登録されていません" %>）</font>
        </h5>
      </div>
      <%= keyword_result.name %>
      <%= keyword_result.company %>
      <%= keyword_result.city %>
    <% end %>
  <% elsif @city_results %>
    <p>
      <strong>" <%= @city %> "</strong> の検索結果：
      <strong><%= @city_results.count %>件</strong>見つかりました
    </p>
    <% @city_results.each do |city_result| %>
      <div class="search-result">
        <h5>
          <%= link_to city_result.sake_name, post_path(city_result) %>
          <font size=2>（<%= city_result.kana_name? ? city_result.kana_name : "ふりがなは登録されていません" %>）</font>
        </h5>
      </div>
      <%= city_result.name %>
      <%= city_result.kana_name %>
      <%= city_result.company %>
      <%= city_result.city %><br>
    <% end %>
  <% end %>

</div>
